bin
obj

/*
!.github
!cli
!Compiled
!EnvObfuscator
!EnvObfuscator.Test
!FinalEnumGenerator
!FinalEnumGenerator.Test
!sample
!sandbox
!sdk
!src
!test
!Unity

!.gitignore
!Directory.Build.props
!FGenerator.slnx

*.md
!**/README.md
!README.*.md
!LICENSE.md
